.base-item, .client-item, .tab-group, .info-item, .record-item, .input-item, .contact-item, .q-item, .question, .pop-up-menu .pm-item {
  position: relative; }

.base-item:after, .client-item:after, .tab-group:after, .info-item:after, .record-item:after, .input-item:after, .contact-item:after, .q-item:after, .question:after, .pop-up-menu .pm-item:after {
  position: absolute;
  content: '';
  width: 94%;
  left: 3%;
  height: 1px;
  background: #ddd;
  -webkit-transform: scaleY(0.35);
  -moz-transform: scaleY(0.35);
  -ms-transform: scaleY(0.35);
  -o-transform: scaleY(0.35);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
  bottom: 0; }

.base-item-top-bdr, .btm-bar, .fix-bar-review, .fix-btm-menu {
  position: relative; }

.base-item-top-bdr:after, .btm-bar:after, .fix-bar-review:after, .fix-btm-menu:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background: #ddd;
  -webkit-transform: scaleY(0.35);
  -moz-transform: scaleY(0.35);
  -ms-transform: scaleY(0.35);
  -o-transform: scaleY(0.35);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  top: 0;
  left: 0; }

.base-divider, .tab-group .tab-btn, .fix-bar-review .btn {
  position: relative; }

.base-divider:after, .tab-group .tab-btn:after, .fix-bar-review .btn:after {
  position: absolute;
  content: '';
  width: 1px;
  height: 60%;
  background: #ddd;
  -webkit-transform: scaleX(0.35);
  -moz-transform: scaleX(0.35);
  -ms-transform: scaleX(0.35);
  -o-transform: scaleX(0.35);
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  -o-transform-origin: 100% 0;
  transform-origin: 100% 0;
  top: 20%;
  right: 0; }

.client-item {
  display: flex;
  padding: .8rem;
  align-items: center; }
  .client-item .client-icon {
    width: 3rem;
    height: 3rem;
    border-radius: .5rem;
    overflow: hidden;
    margin-right: .5rem; }
    .client-item .client-icon img {
      width: 100%; }
  .client-item .client-info {
    flex: 1; }

.client-name {
  display: flex;
  padding-top: .4rem; }
  .client-name .name {
    font-size: .9rem;
    margin-right: .5rem;
    color: #333; }
  .client-name .phone {
    color: #333; }
  .client-name .date {
    flex: 1;
    width: 5rem;
    color: #333;
    text-align: right; }

.edit-btn-group {
  display: flex;
  flex-direction: column;
  margin-left: .5rem; }
  .edit-btn-group .mui-btn {
    padding: 2px 8px;
    font-size: .6rem;
    margin: 2px 0; }

.client-msg {
  color: #aaa;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  height: 1rem; }

.search {
  background: #ddd;
  padding: .5rem;
  position: relative;
  display: flex; }
  .search input {
    flex: 1;
    margin: 0;
    text-align: center;
    font-size: .8rem;
    padding: 5px 30px;
    height: 25px;
    border: none;
    margin-right: .5rem; }
  .search .btn {
    padding: 0;
    height: 25px;
    padding: 0 .5rem;
    background: none;
    color: #333;
    line-height: 25px;
    text-align: center;
    border-radius: 5px;
    border: none; }
  .search .x-btn {
    position: absolute;
    top: 11px;
    right: 5.3rem;
    color: #aaa; }

.tab-group {
  display: flex; }
  .tab-group .tab-btn {
    position: relative;
    flex: 1;
    border: none;
    background: none;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    padding: .8rem;
    text-align: center;
    color: #333; }
  .tab-group .tab-btn-active {
    position: relative;
    color: #F10215; }
  .tab-group .tab-btn-active:before {
    position: absolute;
    display: block;
    content: '';
    height: 2px;
    width: 100%;
    background: #F10215;
    left: 0;
    bottom: 0; }

.last-no-divide:after {
  display: none;
  visibility: hidden; }

.mui-bar-nav {
  display: flex;
  align-items: center; }
  .mui-bar-nav .edit-btn {
    position: absolute;
    right: 15px; }
  .mui-bar-nav .edit-btn:active {
    color: red; }

.btm-bar {
  background: #ddd;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: .8rem;
  padding: 0 0 0 .8rem; }
  .btm-bar .mui-checkbox label {
    padding-left: 30px; }
  .btm-bar .check-label {
    display: inline-block;
    padding-top: .2rem; }
  .btm-bar .btn-wrap {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    height: 100%; }
    .btm-bar .btn-wrap .full-btn {
      height: 100%;
      background: #F10215;
      color: #fff;
      margin: 0;
      outline: none;
      border-radius: 0;
      border: none;
      padding: 0 1rem;
      margin-left: 1px; }
      .btm-bar .btn-wrap .full-btn .iconfont {
        margin-right: .5rem; }

.info-item {
  display: flex;
  padding: .8rem;
  font-size: .8rem;
  background: #fff; }
  .info-item .info-content {
    flex: 1;
    display: flex;
    flex-direction: row-reverse; }
  .info-item .radio-group {
    flex: 1;
    display: flex;
    flex-direction: row-reverse; }
    .info-item .radio-group input[type='radio'] {
      transform: scale(0.6);
      top: -6px;
      right: 0; }
    .info-item .radio-group input[type='radio']:checked:before {
      color: #F10215; }
    .info-item .radio-group .mui-input-row label {
      padding: 0 25px 0 0; }
  .info-item input[type='text'] {
    flex: 1;
    font-size: .8rem;
    border: none;
    text-align: right;
    padding: 0;
    margin: 0;
    height: 16px; }
  .info-item textarea {
    text-align: left;
    font-size: .8rem;
    border: none;
    padding: 0; }
  .info-item i.iconfont {
    margin-left: 1rem; }
  .info-item ul {
    flex: 1; }
  .info-item ul.mui-table-view-radio:before {
    display: none; }
  .info-item ul.mui-table-view-radio:after {
    display: none; }

.item-sub {
  padding: 0 .8rem; }

.inner {
  padding: .8rem; }
  .inner .full-btn {
    width: 100%;
    background: #F10215;
    color: #fff; }

.client-card {
  padding: .8rem;
  background: #eee;
  display: flex; }
  .client-card .icon {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden; }
    .client-card .icon img {
      width: 100%; }
  .client-card .info {
    flex: 1;
    margin-left: .8rem;
    display: flex;
    padding-top: .8rem; }
    .client-card .info .info-name {
      font-size: 1rem;
      margin-bottom: .5rem; }
    .client-card .info .d-left {
      display: flex;
      flex-direction: column; }
    .client-card .info .d-right {
      flex: 1;
      text-align: right; }

.sec-diviver {
  background: #eee;
  font-size: .8rem;
  padding: .8rem; }

.record-item {
  display: flex;
  background: #fff;
  padding: .8rem; }
  .record-item .icon {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden; }
    .record-item .icon img {
      width: 100%; }
  .record-item .record-info {
    margin-left: .8rem;
    display: flex;
    flex-direction: column;
    padding-top: .4rem;
    flex: 1; }
  .record-item .row-name {
    display: flex; }
    .record-item .row-name .date {
      flex: 1;
      text-align: right; }

.step-group {
  padding: .8rem;
  display: flex; }
  .step-group .step {
    position: relative;
    flex: 1;
    text-align: center;
    height: 3rem;
    padding-top: 30px; }
    .step-group .step .ball {
      position: absolute;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background: #ddd;
      display: inline-block;
      z-index: 10;
      top: 10px;
      left: 0;
      right: 0;
      margin: 0 auto; }
  .step-group .step:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: #ddd;
    top: 17px;
    left: -50%;
    z-index: 0; }
  .step-group .step-first:after {
    width: 50%;
    left: 50%;
    display: none; }
  .step-group .step-last:after {
    width: 100%; }
  .step-group .step-active .ball {
    background: red; }
  .step-group .step-active:after {
    background: red; }

.fix-bar-review {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 20;
  display: flex;
  height: 40px;
  width: 100%;
  background: #fff; }
  .fix-bar-review .btn {
    flex: 1;
    text-align: center;
    line-height: 40px;
    font-size: .9rem;
    color: #333; }
  .fix-bar-review .btn-red {
    background: #F10215;
    color: #fff; }
  .fix-bar-review .btn:after {
    height: 100%;
    top: 0;
    background: #ddd; }
  .fix-bar-review .btn:active {
    background: #a9263f; }

.fix-bar-review:after {
  background: #ccc; }

.input-item {
  padding: .8rem; }
  .input-item input[type='text'] {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    border: none; }
  .input-item textarea {
    border: none;
    font-size: .8rem;
    padding: 0; }

.icon-group {
  display: flex;
  flex-direction: row; }

.vr-icon {
  width: 5rem;
  height: 5rem;
  position: relative; }
  .vr-icon .img-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden; }
    .vr-icon .img-wrap img {
      width: 100%; }
  .vr-icon span.close-btn {
    display: inline-block;
    position: absolute;
    top: -.6rem;
    right: -.6rem;
    width: 1.2rem;
    height: 1.2rem;
    background: red;
    color: #fff;
    border-radius: .6rem;
    text-align: center;
    border: 2px solid #fff; }

.add-btn {
  flex-direction: row;
  line-height: 4.5rem;
  width: 5rem;
  height: 5rem;
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  border: 1px solid #ddd;
  margin-left: 1rem; }

.add-btn:active {
  color: #F10215; }

.contact-item {
  padding: .8rem;
  display: flex; }
  .contact-item .phone {
    flex: 1;
    text-align: right; }
  .contact-item .choose {
    color: #F10215;
    margin-left: .5rem; }

.contact-item-active {
  background: #F10215;
  color: #fff; }
  .contact-item-active .name, .contact-item-active .phone {
    color: #fff; }

.q-item {
  padding: .8rem; }

.answer-inner {
  padding: .8rem; }
  .answer-inner span.title {
    font-size: 1rem;
    font-weight: bold;
    color: #aaa; }

.question {
  padding: .8rem;
  font-weight: bold; }

.answer {
  padding: .8rem; }
  .answer p {
    line-height: 1.2rem; }

.fix-btm-menu {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 3rem;
  z-index: 100;
  display: flex; }
  .fix-btm-menu .m-item {
    display: flex;
    font-size: .6rem;
    align-content: center;
    flex: 1;
    flex-direction: column; }
    .fix-btm-menu .m-item i.iconfont {
      font-size: 1.5rem;
      line-height: 1.5rem; }

.err-tag-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.err-tag-active {
  color: red; }

.err-tag-active:after {
  border-color: red; }

.pop-up-menu {
  position: absolute;
  right: .2rem;
  top: 50px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  padding: 0 .5rem; }
  .pop-up-menu .pm-item {
    padding: .5rem; }
  .pop-up-menu .iconfont {
    margin-right: .5rem; }

.pop-up-menu:after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-bottom: 8px solid #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  top: -8px;
  right: .8rem;
  z-index: 10; }

/*# sourceMappingURL=clients.css.map */
