$mred:#F10215;
$mdarkred:#a9263f;
$green1:#59DB5C;
$green2:#3CC654;
$blue1:#3CC3FA;
$blue2:#51B3F4;
$purple1:#F94378;
$purple2:#D62EF9;
$yellow1:#f1c40f;
$yellow2:#f39c12;
$orange1:#E38BD9;
$orange2:#F4665C;

.icon-grid
{
  display: inline-flex;
  flex:1;
  flex-direction: column;
  align-items: center;
  float: left;
  width: 25%;
  margin: .5rem 0;
  .icon-wrap
  {
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

  }
  i.iconfont
  {
    font-size: 1.5rem;
  }
  .icon-title
  {
    margin: .3rem 0;
  }
}

.color1
{
  background: #CD2329;
}
.color2
{
  background: $green2;
}
.color3
{
  background:$blue1 ;
}
.color4
{
  background:orange ;
}
.color5
{
  background:$blue2 ;
}
.color6
{
  background:$orange1 ;
}
.color7
{
  background: $purple1;
}
.color8
{
  background: $green1;
}
.color9
{
  background:$orange2 ;
}
.color10
{
  background:$purple2 ;
}

.color11
{
  background:#D54083 ;
}

.todo-cell-group
{
  display: flex;
  flex-direction: row;
}

.todo-cell
{
  flex:1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  .todo-num
  {
    display: inline-block;
    font-size: 1.2rem;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: .5rem;
    line-height: 3.6rem;
    color: #fff;
    align-items: center;
    justify-content: center;
    text-align: center;

  }
  .todo-title
  {
    margin: .5rem;
  }
}


