<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>产品</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="css/mui.min.css">
    <link rel="stylesheet" href="css/smt.css">
    <link rel="stylesheet" href="iconfont/iconfont.css">
    <link rel="stylesheet" href="css/smtAppStyle-2.css"/>
    <script src="js/jquery1.12.1.min.js"></script>
    <script src="js/vue.js"></script>

</head>


<body>

<div class="btm-fixed-bar">
    <div class="f-l">
        <i class="iconfont">&#xe698;</i>
        <div class="cart-badge">
            29
        </div>
    </div>
    <div class="f-m">共计¥ <span class="total-money">8888.00</span></div>
    <div class="f-r">
        <button type="button">选好了</button>
    </div>
</div>

<div id="sheet1" class="mui-popover mui-popover-bottom mui-popover-action ">
    <div class="p-attr">
        <div class="sec sec-1">

            <div class="img-wrap round-corner" id="img-wrap">
                <div><img src="img/t-3.jpg" alt=""></div>
            </div>
            <div>
                <p class=""><span class="total-money"><span class="rmb">￥</span><span
                        class="money-big">9982.00</span></span></p>
                <p>请选择:颜色 材质</p>
            </div>
            <a href="#sheet1"><i class="iconfont">&#xe69a;</i></a>
        </div>

        <div class="sec sec-color-and-more">
            <div class="sec-body attrs">
                <h4 class="sec-label">颜色</h4>
                <ul>
                    <li>
                        <div class="p-tag">棕色</div>
                    </li>
                    <li>
                        <div class="p-tag p-tag-active">白色</div>
                    </li>
                    <li>
                        <div class="p-tag">原木色</div>
                    </li>
                </ul>
            </div>
            <div class="sec-body attrs">
                <h4 class="sec-label">材质</h4>
                <ul>
                    <li>
                        <div class="p-tag p-tag-active">橡木</div>
                    </li>
                    <li>
                        <div class="p-tag">黄花梨</div>
                    </li>
                    <li>
                        <div class="p-tag">水曲柳</div>
                    </li>
                </ul>
            </div>

        </div>

        <div class="sec sec-num">
            <div class="sec-body">
                <h4 class="sec-label">数量</h4>
                <div class="p-amount">
                    <i class="iconfont">&#xe635;</i><input type="text" value="1"><i class="iconfont">&#xe634;</i>
                </div>
            </div>
        </div>

        <div class="sec sec-btn">
            <a href="#sheet1">确 定</a>
        </div>

    </div>

</div>

<!-- 主界面移动、菜单不动 -->
<div class="mui-off-canvas-wrap mui-draggable">
    <!-- 菜单容器 -->
    <aside class="mui-off-canvas-right" id="offCanvasSide">
        <div class="off-left">
            <ul>
                <li>全部</li>
                <li>家装主材</li>
                <li class="li-active">家庭家具</li>
                <li>办公家具</li>
                <li>竹材类</li>
                <li>地板类</li>
                <li>家居软装</li>
                <li>其他</li>
            </ul>
        </div>

        <div class="btn-2-fixed-btm" style="width:90%; height:40px;">
            <div class="btn-cancel mui-action-back" style="font-size:.8rem;" id="cancel-category">
                取消
            </div>
            <div class="btn-confirm" style="font-size:.8rem;">确认</div>
        </div>


        <div class="mui-scroll-wrapper" style="top:0; background:#ffffff;">
            <div class="mui-scroll">

                <div class="off-right">
                    <div class="cate-row">
                        <div class="cate-item">
                            <img src="img/t-4.jpg" alt="">
                            桌子
                        </div>
                        <div class="cate-item">
                            <img src="img/c-4.jpg" alt="">
                            椅子
                        </div>
                        <div class="cate-item">
                            <img src="img/yigui-1.jpg" alt="">
                            衣柜
                        </div>
                    </div>
                    <div class="cate-row">
                        <div class="cate-item">
                            <img src="img/sofa-1.jpg" alt="">
                            沙发
                        </div>
                        <div class="cate-item">
                            <img src="img/xiegui-1.jpg" alt="">
                            鞋柜
                        </div>
                        <div class="cate-item">
                            <img src="img/dianshigui-1.jpg" alt="">
                            电视柜
                        </div>
                    </div>
                    <div class="cate-row">
                        <div class="cate-item">
                            <img src="img/dengzi.jpg" alt="">
                            凳子
                        </div>
                        <div class="cate-item">

                        </div>
                        <div class="cate-item">

                        </div>
                    </div>
                </div>

                <!-- 菜单具体展示内容 -->

            </div>
        </div>
    </aside>
    <!-- 主页面容器 -->
    <div class="mui-inner-wrap" id="app">
        <!-- 主页面标题 -->

        <div class="search-bar">
            <input type="text" placeholder="请输入筛选关键字"/>
        </div>

        <div class="s-tabs" style="margin-top:52px;">
            <div class="s-tabs-item item-active">全部</div>
            <div class="s-tabs-item">家装主材</div>
            <div class="s-tabs-item ">家庭家具</div>
            <div class="s-tabs-item" id="offCanvasShow">
                <a href="#offCanvasSide">更多&middot;&middot;&middot;</a>
            </div>

        </div>

        <!--下拉加载开始-->
        <div id="pullrefreshxxx" class="mui-content mui-scroll-wrapper" style="margin-bottom:0;top:94px;">
            <div class="mui-scroll">


                <!--底部控制栏-->


                <!--数据列表-->

                <ul class="pp-ul">
                    <li v-for="pp in ppList">
                        <div class="pp-card">
                            <div class="pp-thumb">
                                <img v-bind:src="pp.imgUrl">
                            </div>
                            <div class="pp-info">
                                <div class="pp-title">
                                    {{pp.title}}
                                </div>
                                <div class="pp-price-div">¥ <span class="pp-price">{{pp.price}}</span></div>

                                <div class="pp-ctrl">
                                    <div class="div-l">
                                        <div class="pp-stock-wrap">库存: <span class="pp-stock">{{pp.stock}}</span>件</div>
                                    </div>

                                    <div class="div-r">
                                        <button type="button" v-on:click="pp.num--" class="btn-c"><i class="iconfont">&#xe648;</i></button>
                                        <span v-if="true" class="pp-num">{{pp.num}}</span>
                                        <button type="button" v-on:click="pp.num++" class="btn-c"><i class="iconfont">&#xe639;</i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>



                </ul>
                <!--<div class="pp-card">-->
                    <!--<div class="pp-thumb">-->
                        <!--<img src="img/t-1.jpg" alt=""/>-->
                    <!--</div>-->
                    <!--<div class="pp-info">-->
                        <!--<div class="pp-title">-->
                            <!--汉瑞木业 | 全实木中式风格餐桌餐椅5格餐桌餐椅5件套,多种颜件套,多种颜色可选-->
                        <!--</div>-->
                        <!--<div class="pp-price-div">¥ <span class="pp-price">8,888.00</span></div>-->

                        <!--<div class="pp-ctrl">-->
                            <!--<div class="div-l">-->
                                <!--<div class="pp-stock-wrap">库存: <span class="pp-stock">1000</span>件</div>-->
                            <!--</div>-->

                            <!--<div class="div-r">-->
                                <!--<button type="button" class="btn-c"><i class="iconfont">&#xe648;</i></button>-->
                                <!--<span v-if="numValue" class="pp-num">0</span>-->
                                <!--<button type="button" class="btn-c"><i class="iconfont">&#xe639;</i></button>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->


                <!--<ul class="mui-table-view mui-table-view-chevron p-list">-->

                <!--</ul>-->
            </div>
        </div>
        <div class="mui-off-canvas-backdrop"></div>
    </div>
</div>

<script>
    var vm = new Vue({
        el: '#app',
        data: {
            ppList:[
                {
                    imgUrl:'img/t-1.jpg',
                    title:'汉瑞木业 | 实木餐桌5件套',
                    price:'1200',
                    num:24,
                    stock:2000
                },
                {
                    imgUrl:'img/t-1.jpg',
                    title:'汉瑞木业 | 实木餐桌5件套',
                    price:'1200',
                    num:2,
                    stock:700
                }

            ]
        },
        methods:{

        }
    });


</script>
<script src="js/mui.min.js"></script>
<script type="text/javascript">
    mui.init();
    mui.ready(function () {
        mui('.mui-scroll-wrapper').scroll();
    });
</script>
<script src="js/smt-app.js"></script>
<script>
    mui.ready(function () {

        var cancelBtn = document.querySelector('#cancel-category');
        cancelBtn.addEventListener('tap', function () {
            mui('.mui-off-canvas-wrap').offCanvas().close();

        });
        mui('.p-list').on('tap', '.p-name', function () {
            mui.openWindow({
                url: 'productDetail.html'
            });
        });


    });
</script>

</body>

</html>